@import "./globals.scss";

.pageSegmentSmall {
  padding: 0rem 10vw 6rem 10vw;
  display: flex;
  gap: 4rem;

  h2 {
    color: $black;
    margin-bottom: 1.5rem;
    font-weight: 700;
  }

  p {
    color: $darkGrayText;
    line-height: 2rem;
  }

  @include tablet {
  }

  @include phoneLandscape {
    flex-direction: column;
  }
  @include phone {
    flex-direction: column;
    padding: 0rem 1rem 6rem 1rem;
    gap: 1rem;
  }
}

.pointItem {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.points {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.point {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  p {
    color: $darkGrayText;
    margin: 0 !important;
  }
}

.tick {
  height: 30px;
  width: 30px;
  min-width: 30px;
  border: 1px solid #0eaa0e;
  background-color: #0eaa0e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s ease;
  svg {
    stroke: $offWhite;
    color: $offWhite;
  }
  &:hover {
    transition: all 0.5s ease;
    background-color: $offWhite;
    svg {
      stroke: #0eaa0e;
      color: #0eaa0e;
    }
  }
}
