@import "./globals.scss";

.socials {
  display: flex;
  gap: 0.8rem;
  padding-right: 0.8rem;
  margin-right: 0.8rem;
  height: 100%;

  svg {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      color: $theme;
    }
  }
}
